.galleryPageContainer {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  /* width: 60vw; */
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: column;
  margin-top: 2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
} 

.gallerySideBar{
  position: -webkit-sticky;  
  position: sticky;
  top: 10px;
  margin: 0.1em;
  background-color: teal;
  width: 20vw;
  height: 80vh;
  overflow-wrap: break-word;
}

.column { 
  display: flex; 
  flex-direction: column; 
  flex-flow: row wrap;
  margin-left: 5px;
  margin-right: 5px;
  /* flex-wrap: wrap; */
/*   height: 100vw; */
  /* max-height: auto;
  width: auto; */
  font-size: 0;  
  /* align-content: space-evenly; */
  justify-content: space-evenly;
  /* margin-right: 0.2em;
  margin-left: 0.2em; */
}
.column img {  
  height: 180px;
  margin: 1px;


  transition: .8s opacity;
} 

.column:hover img { opacity: 0.3; }
.column:hover img:hover { opacity: 1; } 


.gallerySideBar {
  text-align: center;
  color: #36454F;
  font-size: 1.4em;
}

.filterHeading {
  font-size: 1.4em;
}

#lightbox-overlay {
  /* visibility: hidden; */
  display: none;
}

#lightbox-overlay.visible {
  /* visibility: visible; */
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

#lightbox-overlay.visible img{
  margin-top: 7vh;
  padding: 2em;
  max-width: 80%;
  max-height:80%;
  width: auto;
  height: auto;
}


@media screen and (max-width: 661px) {
  .container {
    display: flex;
    width: 100vw;
    flex-wrap: column;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
  } 
  .column { 
    display: flex; 
    flex-direction: column; 
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* height: 100vw; */
    /* max-height: auto;
    width: auto; */
    font-size: 0;  
    align-content: space-evenly;
    /* justify-content: space-between; */
  }
  .column img {  
    height: 180px;
    margin: 1px;
  
  
    transition: .8s opacity;
  } 
  
  .column:hover img { opacity: 0.3; }
  .column:hover img:hover { opacity: 1; } 
  
  
  /* .column {
    display: flex;
    width: 100%;
    flex: 100%;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 0em;
    margin-right: 0em;
    padding-left: 0em;
    justify-content: space-between;
  }
  .column img{
    width: 100%;
  } */

  .gallerySideBar {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    text-align: left;
    margin-left: 0em;
  }
}
  /* .gallerySideBar{
    position: -webkit-sticky;  
    position: sticky;
    top: 10px;
    background-color: lightcoral;
    flex-wrap: wrap;
    width: 20em;
    height: 30vh;
  } */

  /* .gallerySideBar {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    text-align: left;
    margin-left: 0em;
  } */

    
