.logo {
    margin-top: 2.3em;
}

/* start of Navbar */

.navLinkContainer {
    margin-right: 1.1em;
}

.navBarLinks {
    font-size: 18px;
    font-weight: 550;
    margin: 0.7em;
    margin-top: -1.5em;
    position: relative;
    float: right;
    color: #36454F;
    text-decoration: none;
  }

.navBarLinks:hover {
    color: #fa7268;
}
  
.navBarLinks:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border: none;
    background-color: #fa7268;
    margin-bottom: -0.3em;
    height: 3px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
  
.navBarLinks:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.imagisticLogo {
    margin-top: 10em;
    margin-left: 5vw;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 10px;
    text-decoration: none;
    color: #36454F;
}
/* End of Navbar */


/* portrait */
@media only screen and (max-width: 661px) {
    .imagisticLogo {
        font-size: 1em;
        margin-right: 3em;
        margin-left: 0;
    }
    .navBar{
        width: 100vw;
        margin-bottom: 0;
    }
    .logo {
        width: 100vw;
        text-align: center;
        margin-top: 1px;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: 0em;
        margin-right: 6em;
        margin-left: 0;
    }
    .navLinkContainer {
        display: flex;
    }
    .navBarLinks {
        font-size: 1em;
        font-weight: 0;
        margin-top: 0.5em;
        margin-left: 1.3em;
        text-transform: uppercase;
        text-decoration: none;
        color: #36454F;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }
}

/* Landscape */
@media only screen and (max-height: 414px) {
    .logo {
        width: 100vw;
        text-align: left;
        margin-top: 0.1em;
        margin-left: 0;
        font-size: 2.5em;
        font-weight: 700;
        letter-spacing: 0em; 
        text-align: center;
    }
    .navBar {
        display: flex;
    }
    .navBarLinks {
        font-size: 1em;
        font-weight: 0;
        margin-left: 1em;
        margin-right: 1em;
        padding-right: 0em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #36454F;
        float: right;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    }
}