.uploadForm .formContainer {
    width: 100vw;
    height: 100vh;
    color: #36454F;
}

.uploadForm {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    justify-content: center;
    padding-top: 1em;
}

.uploadForm #uploadLabel {
    text-align: right;
}

.uploadForm #myImage {
    color: #fa7268;
    font-size: 1em;
}

.uploadForm #titleLabel {
    grid-column: 1/2;
    text-align: right;
    justify-self: auto;
}

.uploadForm #title {
    width: 49%;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #fa7268;
    text-align: center;
    font-size: 1.2em;
    color: #36454F;
    margin-left: 1em;
}

.uploadForm #descLabel{
    grid-column: 1/2;
    text-align: right;
}
    
.uploadForm #description {
    width: 47%;
    padding: 12px;
    border: 1px solid #fa7268;
    border-radius: 4px;
    resize: vertical;
    margin-left: 1em;
    margin-top: 0.5em;
    font-family: poppins;
    color: #36454F;
    font-size: 1em;
    margin-bottom: 0.5em;
    }

.uploadForm #assignedAlbumLabel {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-right: 0.5em;
    height: 4em;
 }

 
.uploadForm #existingAlbumLabel {
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: right;
}

.uploadForm #albumList {
    width: 43.25em;
    height: 3em;
    text-align: center;
    border: 1px solid #fa7268;
    border-radius: 5px;
    color: #36454F;
}

.uploadForm #albumDropAndButton {
    grid-column: 2/3;
    grid-row: 5/6;
    padding-left: 1em;
}

.uploadForm #createAlbumLabel {
     grid-column: 1/2;
     grid-row: 6/7;
     text-align: right;
 }

.uploadForm #album {
    grid-row: 8/9;
    width: 49%;
    border: none;
    border-bottom: 1px solid #fa7268;
    text-align: center;
    font-size: 1.2em;
    color: #36454F;
    margin-left: 1em;
}

.uploadForm #assignedAlbums, #assignedTags {
    margin-left: 0.35em;
}

.uploadForm #albumInputAndButton {
    grid-column: 2/3;
    grid-row: 6/7;
}

.albumCard, .tagCard {
    display: inline-flex;
    text-align: center;
    margin: 0.7em;
    border: 1px solid #fa7268;
    border-radius: 4px;
    padding: 0.5em;
}

.uploadForm #assignedAlbums {
    grid-column: 2/3;
    grid-row: 4/5;
}

.uploadForm #assignedTagsLabel {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
}

.uploadForm #addTagLabel {
    grid-column: 1/2;
    text-align: right;
}

.uploadForm #tagInputAndButton {
    grid-column: 2/3;
    grid-row: 8/9;
}

.uploadForm #tag {
    width: 49%;
    border: none;
    border-bottom: 1px solid #fa7268;
    text-align: center;
    font-size: 1.2em;
    color: #36454F;
    margin-left: 1em;
    margin-right: 0;
}



.uploadForm #albumSubmit, #tagSubmit {
    background-color: #fa7268;
    border: none;
    border-radius: 5px;
    color: white;
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.uploadForm input[type=submit] {
    background-color: #fa7268;
    border: none;
    border-radius: 5px;
    color: white;
    height: 3em;
    width: 10em;
    font-size: 1em;
    margin-left: 10.5em;
}

.delete {
    display: none;
}

.albumCard:hover .albumPara,
.tagCard:hover .tagPara {
    display: none;
}

.albumCard:hover .delete,
.tagCard:hover .delete {
    display: inline;
    color: white;
}

.tagCard:hover, .albumCard:hover {
    background-color: #fa7268;
    z-index: 9;
}

.albumCard p, .tagCard p {
    margin: 0;
}


.uploadForm .uploadFormLabels, .uploadForm .uploadFormInputs {
    margin: 0.5em;
}
